lib-cov
/**/node_modules/
/**/bower_components/
/**/.idea/
/**/data/
/**/kbd/
/**/target/
/**/.seed
/**/.log
/**/.csv
/**/.dat
/**/.out
/**/.pid
/**/.gz
/**/.rar
/**/.zip
/**/.pptx
/**/.ppt
/**/.ini
/**/.DS_Store

/**/pids
/**/logs
/**/results

/**/npm-debug.log
/**/.brackets.json
